# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Docker Postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Zookeeper
ZOOKEEPER_CLIENT_PORT=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=

# Redis
REDIS_HOST=
REDIS_PORT=